.App {
  text-align: center;
}

.mt-50 {
  margin-top: 50px;
}

.content {
  padding : 10px;
  border: 3px solid red;
}

span {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

.active {
  border: 3px solid black;
}